<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'RestauranteApp\css\style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>{% block title %}    {% endblock title%}</title>
</head>
<body>
    <header>
        <div class="menu">
            <div class="logo" id="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'RestauranteApp\img\logo.png' %}" alt="">
                </a>
            </div>
    
            <div class="submenu" id="el_menu">
                <ul>
                    <a href="#"><li id="Usuario"><img src="{% static 'RestauranteApp\img\agua_menu.jpg' %}" alt=""></li></a>
                    <a href="#"><li>Menu</li></a>
                    <a href="#"><li>Factura</li></a>
                    <a href="#"><li>Nosotros</li></a>
                    <a href="#"><li><p class="fas fa-shopping-cart"></p></li></a>
                </ul>
            </div>
        </div>
    </header>
    <section>

        {% block content %}
            
        {% endblock content %}

        
    </section>
    <footer>
        <div class="Informacion">
            <ul>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li>Telefonos: 33-33-33-33</li>
                <li>Direccion: callenosedonde col: quien sabe</li>
                <li>Correos: noseque@cualquiera.com</li>
            </ul>
        </div>
        <div class="Responsabilidad">
            <p class="far fa-copyright"> Derechos reservados usted diga</p>
        </div>
        <div class="Redes">
            <ul>
                <li><a href="#"><p class="fab fa-instagram"></p></a></li>
                <li><a href="#"><p class="fab fa-twitter-square"></p></a></li>
                <li><a href="#"><p class="fab fa-facebook-square"></p></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>